Cargo.lock linguist-generated=true merge=binary linguist-vendored
Cargo.nix  linguist-generated=true merge=binary linguist-vendored
flake.lock linguist-generated=true merge=binary linguist-vendored
**/*.snap merge=binary linguist-vendored
