Cargo.lock      linguist-generated merge=binary
Cargo.nix       linguist-generated merge=binary
flake.lock      linguist-generated merge=binary
**/*.flat       linguist-vendored merge=binary
**/*.uplc       linguist-vendored
**/*.expected   linguist-vendored
**/*.snap       linguist-vendored
example/**/*    linguist-vendored
benchmarks/**/* linguist-vendored
