[workspace]
members = ["crates/*"]
resolver = "2"

[profile.release]
strip = true

[workspace.metadata.release]
shared-version = true
tag-name = "v{{version}}"

[workspace.dependencies]
walkdir = "2.3.2"
pallas = "0.22.0"
insta = { version = "1.30.0", features = ["yaml", "json"] }

[profile.dev.package.insta]
opt-level = 3

[profile.dev.package.similar]
opt-level = 3
