[package]
name = "uplc"
description = "Utilities for working with Untyped Plutus Core"
version = "0.0.29"
edition = "2021"
repository = "https://github.com/aiken-lang/aiken/crates/uplc"
homepage = "https://github.com/aiken-lang/aiken"
license = "Apache-2.0"
authors = ["Lucas Rosa <x@rvcas.dev>", "Kasey White <kwhitemsg@gmail.com>"]

exclude = ["test_data/*"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cryptoxide = "0.4.2"
flat-rs = { path = "../flat-rs", version = "0.0.27" }
hex = "0.4.3"
pallas-addresses = "0.16.0"
pallas-codec = "0.16.0"
pallas-crypto = "0.16.0"
pallas-primitives = "0.16.0"
pallas-traverse = "0.16.0"
peg = "0.8.0"
pretty = "0.11.3"
thiserror = "1.0.31"
anyhow = "1.0.57"
serde = { version = "1.0.144", features = ["derive"] }
serde_json = "1.0.85"
strum = "0.24.1"
strum_macros = "0.24.3"
itertools = "0.10.5"
indexmap = "1.9.2"
secp256k1 = { version = "0.26.0", optional = true }
k256 = { version = "0.12.0", optional = true }
num-bigint = "0.4.3"
num-traits = "0.2.15"
num-integer = "0.1.45"
pretty_assertions = "1.3.0"

[dev-dependencies]
hex = "0.4.3"
proptest = "1.0.0"

[features]
default = ["dep:secp256k1"]
native-secp256k1 = ["dep:k256"]
unstable = []
