[package]
name = "aiken-lang"
description = "The Aiken compiler"
version = "0.0.29"
edition = "2021"
repository = "https://github.com/aiken-lang/aiken"
homepage = "https://github.com/aiken-lang/aiken"
license = "Apache-2.0"
authors = ["Lucas Rosa <x@rvcas.dev>", "Kasey White <kwhitemsg@gmail.com>"]
rust-version = "1.66.1"

[dependencies]
chumsky = "0.9.2"
hex = "0.4.3"
indexmap = "1.9.2"
indoc = "2.0.1"
itertools = "0.10.5"
miette = "5.5.0"
ordinal = "0.3.2"
owo-colors = { version = "3.5.0", features = ["supports-colors"] }
strum = "0.24.1"
thiserror = "1.0.39"
uplc = { path = '../uplc', version = "0.0.29" }
vec1 = "1.10.1"

[dev-dependencies]
indoc = "2.0.1"
pretty_assertions = "1.3.0"
