name: Nix

on:
  push:
    branches: ["main"]

jobs:
  update-cargo-nix:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.WORKFLOW_SSH_KEY }}

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v4

      - name: Run the Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v1

      - name: Run cargo2nix
        shell: bash
        run: |
          nix run github:cargo2nix/cargo2nix -- -s > Cargo.nix

      - name: Create PR
        uses: peter-evans/create-pull-request@v4
        with:
          branch: patch/cargo.nix
          delete-branch: true
          title: Update Cargo.nix
          add-paths: Cargo.nix
